
<table class = "table table-borderless col-md-1 mb-1" style=" width:25rem;">
  <thead >
    <tr>
    <th style="padding:0px; padding-top: 50px; margin-bottom: 1px; text-align: center;"><h1><b>Ödeme İşlemi</b></h1></th>
  </tr>
</thead>
</table>
<table class = "table table-bordered col-md-1 mb-1 align-center" style="border:lightslategrey; width:25rem" >
  <thead>
    <tr >
      <th> <label for="validationTooltip01">Kart Sahibi</label></th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td class="col-md-12">
         <input type="text" class="form-control is-invalid" id="validationTooltip01"required>
        </td>
    </tr>
  </tbody>
</table>

      
<table class = "table table-bordered col-md-1 mb-1" style="border:lightslategrey;  width:25rem">
  <thead>
    <tr>
      <th><label for="validationTooltip02">Kart No</label></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" class="form-control is-invalid" id="validationTooltip03" required></td>
    </tr>
  </tbody>
</table>


<table class = "table table-bordered col-md-1 mb-1" style="border:lightslategrey;  width:25rem">
  <thead>
    <tr>
      <th><label for="validationTooltip03">Ay</label></th>
      <th><label for="validationTooltip04">Yıl</label></th>
      <th><label for="validationTooltip05">CVC</label></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><input type="text" class="form-control is-invalid" id="validationTooltip03" required></td>
    <td><input type="text" class="form-control is-invalid" id="validationTooltip03"  required></td>
    <td><input type="text" class="form-control is-invalid" id="validationTooltip03"  required></td>
  </tr>
  </tbody>
</table>

<table class = "table table-borderless col-md-1 mb-1" style=" width:25rem;">
  <tbody >
    <tr>
    <td style="padding:0px; padding-top: 4px;"><button class="btn btn-primary" style="float: right; width: 26.8rem;" >Öde</button></td>
  </tr>
  </tbody>
</table>
