<div class="card">
  <div class="card-header text-center">
    <span ><b style="font-size: 20px;">Araç Kiralama Geçmişi</b></span>
  </div>
  <div class="card-body">
    <table class="table table-bordered border ">
      <thead >
        <tr style="background-color: #5aa7db;">
          <th>Araç</th>
          <th>Kirayalan</th>
          <th>Kira Başlangıç</th>
          <th>Kira Bitiş</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentalsDto" style="background-color: #b6d5e9;">
          <td>{{ rental.carName }}</td>
          <td>{{ rental.fullName }}</td>
          <td>{{ rental.rentDate | date: "dd/MM/yyyy HH:mm" }}</td>
          <td>{{ rental.returnDate | date: "dd/MM/yyyy HH:mm" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer col-md-12">
    <span><b>Kiralama Tarihi</b></span>
    <span style="margin-left: 120px;"><b>Teslim Tarihi</b></span>
  </div>
  <div class="card-footer">
    <input id="dtBegin" type="datetime-local" [ngModel] ="dtBegin" (ngModelChange)="dtBegin = $event" (change)="onChangeEvent($event)">
    <input style="margin-left: 25px;"  id="dtEnd" type="datetime-local" [ngModel] ="dtEnd"  disabled="{{ !firstDateSelected }}" (ngModelChange)="dtEnd = $event" >
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-theme" style="background-color: #90c6eb; float: left" (click)="checkDateAndGoToPayment()" ><b>Kirala</b></button>
    <button type="button" class="btn btn-theme" style="background-color: #90c6eb; float: right"(click)="goToCarDetail()" ><b>Geri</b></button>
  </div>
</div>
